/* This is an example CSS file, feel free to remove/edit it anytime */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* html {
  background-color: #C8E6C9;
} */

body{
  background-color: #C8E6C9;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column;  */
}

main {
  min-width: 80vw;
  min-height: 80vh;
  border-radius: 2%;
  box-shadow: 2px 2px 4px gray;
  background-color: #fff;
}

/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
} */