/* This is an example CSS file, feel free to remove/edit it anytime */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* html {
  background-color: #C8E6C9;
} */

body {
  background-color: #C8E6C9;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column;  */
}

main {
  min-width: 80vw;
  min-height: 80vh;
  border-radius: 2%;
  box-shadow: 2px 2px 4px gray;
  background-color: #fff;
}

aside {
  display: flex;
  flex-direction: column;
  border-radius: 2% 0 0 2%;
  gap: 5vh;
}

.asidetop {
  display: flex;
  flex-direction: column;
  /* margin-top: auto; */

  /* align-items: flex-end; */
  background-color: #2E7D32;
  /* background-color: #3cfd45; */
  width: 30%;
  min-width: 30%;
  height: 55%;
  min-height: 55vh;
  /* 左上 | 右上 | 右下 | 左下 */
  border-radius: 2% 0 0 0;
}

.innerbox {
  margin-top: auto;
  padding: 5% 10%;
}

.addressbox {
  margin-bottom: 10%;
}

.flex {
  display: flex;
  gap: 2%;
  /* outline: 1px solid #C8E6C9; */
}

p {
  font-size: 8px;
  color: #fff;
}

.asidebottom {
  background-color: #2E7D32;
  width: 30%;
  min-width: 30%;

  height: 20%;
  min-height: 20vh;
  /* 左上 | 右上 | 右下 | 左下 */
  border-radius: 0 0 0 2%;
}

/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
} */